
<ion-header>

  <ion-navbar>
    <ion-title>Select Contacts</ion-title>
  <ion-buttons end>
    <button ion-button icon-only (click)="dismissModal()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let contact of contactList">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col col-2>
              <img src="assets/people.png">
            </ion-col>
            <ion-col col-8>
              {{contact}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
      <ion-checkbox right (click)="selectContact(contact)"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-footer *ngIf="selectedContacts[0]">
    <ion-toolbar style="padding:0 15px">
      <p>{{selectedContacts.length}} contact(s) selected</p>
      <ion-buttons end>
        <button ion-button icon-right color="primary">
          Select
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>
